*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #32386D;
  font-family: Helvetica, Arial, sans-serif;
}

.demo {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 500px;
  height: 140px;
  margin-top: -70px;
  padding: 10px;
  border-radius: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.demo__colored-blocks {
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 0;
  width: 500px;
  height: 100%;
  margin-left: -250px;
  padding: 10px;
  border-radius: 20px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-animation: demoAnim 5s ease-in-out infinite, contAnim 5s;
          animation: demoAnim 5s ease-in-out infinite, contAnim 5s;
}

.demo__colored-blocks-rotater {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  -webkit-animation: rotation 0.3s linear;
          animation: rotation 0.3s linear;
}

.demo__colored-blocks-inner {
  overflow: hidden;
  position: relative;
  height: 100%;
  background: #32386D;
  border-radius: inherit;
}

.demo__colored-block {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300%;
  height: 300%;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.demo__colored-block:nth-child(1) {
  -webkit-transform: rotate(0deg) skewX(-30deg);
          transform: rotate(0deg) skewX(-30deg);
  background-color: #FD3359;
}

.demo__colored-block:nth-child(2) {
  -webkit-transform: rotate(120deg) skewX(-30deg);
          transform: rotate(120deg) skewX(-30deg);
  background-color: #F4D302;
}

.demo__colored-block:nth-child(3) {
  -webkit-transform: rotate(240deg) skewX(-30deg);
          transform: rotate(240deg) skewX(-30deg);
  background-color: #21BDFF;
}

.demo__inner {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.demo__numbers {
  overflow: visible;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
}

.demo__numbers-path {
  fill: none;
  stroke-width: 10px;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 0, 518.05507;
  stroke-dashoffset: 0;
  -webkit-animation: numAnim 5s ease-in-out;
          animation: numAnim 5s ease-in-out;
  opacity: 0;
}

.demo__text {
  position: absolute;
  left: 50%;
  top: 0;
  width: 500px;
  height: 100%;
  margin-left: -250px;
  text-align: center;
  line-height: 140px;
  font-size: 100px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 15px;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-animation: hideText 5s;
          animation: hideText 5s;
}

@-webkit-keyframes contAnim {
  15%, 100% {
    margin-left: -250px;
    width: 500px;
  }
  25%, 90% {
    margin-left: -70px;
    width: 140px;
  }
}

@keyframes contAnim {
  15%, 100% {
    margin-left: -250px;
    width: 500px;
  }
  25%, 90% {
    margin-left: -70px;
    width: 140px;
  }
}

@-webkit-keyframes numAnim {
  15% {
    stroke-dasharray: 0, 518.05507;
    stroke-dashoffset: 0;
    opacity: 0;
  }
  25%, 41% {
    opacity: 1;
    stroke-dasharray: 144.42566, 518.05507;
    stroke-dashoffset: -40;
  }
  53%, 66% {
    stroke-dasharray: 136.02162, 518.05507;
    stroke-dashoffset: -227.2387;
  }
  76% {
    stroke-dasharray: 113.47512, 518.05507;
    stroke-dashoffset: -445.89957;
  }
  88%, 100% {
    stroke-dasharray: 72.15549, 518.05507;
    stroke-dashoffset: -445.89957;
  }
  92% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes numAnim {
  15% {
    stroke-dasharray: 0, 518.05507;
    stroke-dashoffset: 0;
    opacity: 0;
  }
  25%, 41% {
    opacity: 1;
    stroke-dasharray: 144.42566, 518.05507;
    stroke-dashoffset: -40;
  }
  53%, 66% {
    stroke-dasharray: 136.02162, 518.05507;
    stroke-dashoffset: -227.2387;
  }
  76% {
    stroke-dasharray: 113.47512, 518.05507;
    stroke-dashoffset: -445.89957;
  }
  88%, 100% {
    stroke-dasharray: 72.15549, 518.05507;
    stroke-dashoffset: -445.89957;
  }
  92% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes rotation {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes demoAnim {
  15% {
    border-radius: 20px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  30%, 43% {
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  52%, 65% {
    border-radius: 0;
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
  78%, 90% {
    border-radius: 50%;
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg);
  }
  100% {
    border-radius: 20px;
    -webkit-transform: rotate(1440deg);
            transform: rotate(1440deg);
  }
}

@keyframes demoAnim {
  15% {
    border-radius: 20px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  30%, 43% {
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  52%, 65% {
    border-radius: 0;
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
  78%, 90% {
    border-radius: 50%;
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg);
  }
  100% {
    border-radius: 20px;
    -webkit-transform: rotate(1440deg);
            transform: rotate(1440deg);
  }
}

@-webkit-keyframes hideText {
  15%, 100% {
    opacity: 1;
  }
  20%, 96% {
    opacity: 0;
  }
}

@keyframes hideText {
  15%, 100% {
    opacity: 1;
  }
  20%, 96% {
    opacity: 0;
  }
}

.question {
  text-align: center;
  color: #fff;
}
/*# sourceMappingURL=styles.css.map */